Options -Indexes

#ATIVAR o modo de reescrita
RewriteEngine On

#Forçar redirecionamento de http para https (SSL)
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.miniemporioanalu.com.br/$1 [R,L]

#Redirecionamento 301
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [NC,L,QSA]

#Testar segurança securityheaders.com

#Política de Recursos
#X-Frame-Option
#Strict-Transport-Security
#X-Content-Type-Options

<IfModule mod_headers.c>

Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"

#Permitir Controlado
#Content-Security-Policy
Header set Content-Security-Policy "default-src miniemporioanalu.com.br; manifest-src *; font-src *; img-src * data: blob: 'unsafe-inline'; script-src * 'unsafe-inline'; style-src * 'unsafe-inline'; child-src 'self'; connect-src 'self'; form-action 'self'; frame-ancestors 'self'; frame-src *; prefetch-src 'self'; object-src 'none'; base-uri 'none';"

#Permitir tudo
#Referrer-Policy
#Permissions-Policy
Header set Referrer-Policy "same-origin"
Header set Feature-Policy "accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'"
Header set Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"

</IfModule>

#Protegendo arquivo htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>