.seccao {
    color: #BF9D8A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 3.5rem;
}

.titulo_produto {
    color: #fff;
    font-size: 3rem;
}

.descricao_produto {
    color: white;
    font-size: 2rem;
}

.preco_produto {
    color: white;
}

.product-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.product-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-description {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}