.seccao {
    color: #BF9D8A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-size: 3.5rem;
}

.titulo_produto {
    color: #F0F0F2;
    font-size: 3rem;
}

.descricao_produto {
    color: #F0F0F2;
    font-size: 2rem;
}

.preco_produto {
    color: #F2C894;
}

.product-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-description {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #28a745;
    color: #F0F0F2;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}