@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: 'Irish Grover', cursive;
    font-size: 3.2rem;
}

html {
    font-size: 62.5%;
}

.texto-reset{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #593A2E;
}

header nav{
    justify-content: space-evenly;
    background-color: #261B14;
    text-wrap: nowrap;
}

header nav li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.7rem;
}

header nav li:hover{
    background-color: #BF9D8A;
    transition: .5s;
}

header section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-text{
    color: #BF9D8A;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    align-items: center;
    margin-left: 1rem;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 50%;
    height: 40%;
    background-color: #D9D9D9;
  }
  
  .search-bar button {
    background: none;
    cursor: pointer;
  }

  .search-bar button:hover{
    background-color: #BF9D8A;
    border: none;
  }

.detalhes button:hover{
    color:#BF9F8A;
}

.wpp:hover{
    background-color: #261B14;
}

.maps:hover {
    background-color: #593A2E;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
}

footer {
    color:#BF9D8A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #261B14;
    border-radius: 2.7rem;
    margin: 2.7rem;
}

.local {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    align-items: center;
}

.texto_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Alterando Barra De Pesquisa  */
input[type="text"],
    input:active,
      ::placeholder {
        border: none;
        background-color: #D9D9D9;
      }

input{
    outline: none;
}












